body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0; padding: 0;}
ol,ul{margin:0; padding:0; list-style: none;}
body,html {width: 100%; height: 100%; min-width: 990px;}
body {background: #fff; margin: 0; font: 12px/1.3 'Microsoft YaHei','Lucida Sans Unicode',STXihei,'Myriad Pro',Roboto,Noto,arial,sans-serif}
 a {outline: 0; color:#000; text-decoration: none;}


a img{ border:0;}
i,em{ font-style:normal;}
b, strong{ font-weight:normal;}
.fl{ float:left;}
.fr{ float:right;}
.mt30{ margin-top:30px;}
.clearfix:after{ display:block; content:""; clear:both;}
.clearfix{ zoom:1;}
input,textarea{ outline:none; }


/* index.css */
.all{height: 100%;width:100%; background: url(../image/self_01.jpg) no-repeat 100% 100%; position: relative;}
.all_width{ width: 1200px; margin:0 auto;}



.cent{position: relative; height: 100% ; width:100%;}
.cent img{position: absolute; top: 50%;left: 50%;margin-top: -102px; margin-left: -350px;}
.titcent{width: 300px; font-size: 16px; padding:100px; position: relative; z-index: 2;}
.titcent p{height:30px; line-height: 30px; color: #a1a1a1; }
.titcent .titcent_p{ width:130px; background: #2d2d2d; text-align: center;}
.titcent .titcent_p a {height: 100%;width: 100%;display:block; color: #d1d1d1;}
.titcent .titcent_p a:hover {color: #fff;}
.titcent1 {width: 438px; padding-top: 60px;}
.footIndex{ height: 24px; width: 48px; background: url(../image/icon.png); position: relative;z-index:3;bottom:-80%; left: 50%; margin-left: -24px;}
.footIndex a{ height: 100%;width:100%; display: block;}

/* center */
.all1{background:rgba(255,255,255,0.5); height:120px;position: relative;}
.all1 .titcent{width: 234px;padding:60px; position: absolute; z-index: 2;}
.all1 .titcent1 {width: 438px; padding-top: 60px;position: absolute;right: 0;top: 0;}
.titcent .TitChild1{ height:54px; width: 54px;background: url(../image/icon.png) 0 -50px;margin-top: 10px;}
.titcent .TitChild2{ height: 100%;display: none; }
.titcent .TitChild2 p{ height:54px; width: 54px;background: url(../image/icon.png) 0 -110px;margin-top: 10px;}
.titcent .TitChild2 ul{ width: 170px; background: rgba(34,34,34,0.7);height: 500px; padding-top:26px;}
.titcent .TitChild2 ul li{ height: 40px; line-height: 40px; text-align: center;cursor:pointer;}
.titcent .TitChild2 a{height: 100%;width: 100%;display:block; color: #fffefe; }
.Cent{margin:10px auto; width:1200px;}
.Cent li{width:300px; height: 400px;}
.Cent li a{display: block; height: 250px;width: 300px;overflow: hidden;  position: relative;}
.Cent li img{width: 300px; height: 250px; transition:all 2s ease-out 0s;}
.Cent li a .CentP{ height: 100%; width:100%;background: rgba(0,0,0,0.5); position: absolute;top: 0;left: 0; display: none;}
.Cent li a em{ height: 36px; width: 160px; line-height: 36px; font-size: 14px; border:2px solid #FFF; color: #FFF; display: block; text-align: center; position: absolute;top: 50%;left: 50%; margin-top: -18px; margin-left: -80px; border-radius: 18px 0;}
.CentAbout{ width: 300px; height: 96px; background: #eee; padding-top: 14px;}
.CentAbout p{height: 30px; line-height: 30px;  color: #727272; font-size: 14px; padding-left: 10px;}
.CentAbout .CAp{font-size: 18px;}


